<!DOCTYPE html>
{% extends 'home.html' %}
{% block content %}
<div class="sendto">
    {% block yesorno %}
<h1>Transaction</h1>
<form action="{% url 'app:sendform' %}" method="POST">
    {% csrf_token %}
<div  class="userListTable">
<table>
    <tr>
    <th>Payment From</th>
    <td><input name="sendfrom" style="background:transparent; color:white; font-family:monospace; border:none; readonly:true; outline:none;" value="{{user.name}}" readonly/></td>
    </tr>
    <tr>
    <th>Your Balance</th>
    <td>{{user.balance}}</td>
    </tr>
    <tr>
    <th>Payment To</th>
    <td><select class="select" name="sendto">
        {% for i in allUsers %}
        <option>{{i.name}}</option>
        {% endfor %}
        </select></td>
    </tr>
    <tr>
    <th>Payment Amount</th>
    <td><input type="search" name="amount"></td>
    </tr>
</table>
</div>
    <input type="submit" class="confirmbtn" value="Confirm"/>
    </form>
    
    {% endblock %}
</div>
{% endblock %}
